bilibili-api-python
sanic==24.12.0
sanic-ext
aiofiles
redis
redis-om
beautifulsoup4
cryptography
lxml
pycryptodome
sanic_cors==2.2.0
PyExecJS2==1.6.1
google-api-python-client==2.160.0
httpx==0.28.1
httpx[http2]
loguru==0.7.3
curl_cffi
qrcode[PIL]
httpx[socks]
fake-useragent
gmssl
tracerite==1.1.1